<div class='row'>
  <div class='col-xs-12'>
    <%= link_to 'New course', new_admin_course_path, class: 'btn btn-primary' if can_manage_courses? %>

    <% if @courses.present? %>
      <table class="table table-responsive">
        <thead>
          <th>Title</th>

          <% if can_manage_courses? %>
            <th>
              Groups
            </th>

            <th>
              Users
            </th>
          <% end %>
        </thead>

        <tbody>
          <% @courses.each do |course| %>
            <tr>
              <td>
                <%= link_to course.title, [current_namespace(need_application: false), course] %>
              </td>

              <% if can_manage_courses? %>
                <td>
                  <%= course.user_groups.pluck(:title).join(', ').presence || 'Nothing here' %>
                </td>
                <td>
                  <%= course.users.pluck(:email).join(', ').presence || 'Nothing here' %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>

      </table>
    <% else %>
      <p class='text-info'>
        Nothing here :/
      </p>
    <% end %>
  </div>
</div>

