<div class="row">
  <div class="col-xs-12">
    <h1><%= @course.title %> <small><%= @course.description %></small></h1>

    <%= link_to 'Complete action', '#', class: 'btn btn-success' %>
  </div>
</div>
