<div class='row'>
  <div class='col-xs-12'>
    <%= simple_form_for [:admin, @course] do |f| %>
      <%= f.input :title %>
      <%= f.input :description %>

      <%= f.input :user_groups, as: :select,
        collection: user_groups_collection,
        selected: f.object.user_groups.pluck(:id),
        label_method: :title,
        value_method: :id,
        input_html: { multiple: true } %>

      <%= f.input :users, as: :select,
        collection: users_collection,
        selected: f.object.users.pluck(:id),
        label_method: :email,
        value_method: :id,
        input_html: { multiple: true } %>

      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
