<div class='row'>
  <div class='col-xs-12'>
    <div class='page-header'>
      <h1><%= @course.title %> <small><%= @course.description %>&nbsp;<%= link_to 'Edit', edit_admin_course_path(@course) %>&nbsp; <%= link_to 'Destroy', admin_course_path(@course), method: :delete, data: { confirm: 'Are u sure?' } %></small></h1>

      <h2>Groups</h2>

      <ul>
        <% if @course.user_groups.present? %>
          <% @course.user_groups.each do |user_group| %>
            <li>
              <%= user_group.title %>
            </li>
          <% end %>
        <% else %>
          <li>
            <p class='text-info'>
              Nothing here
            </p>
          </li>
        <% end %>
      </ul>

      <hr />

      <h2>Users</h2>
      <ul>
        <% if @course.users.present? %>
          <% @course.users.each do |user| %>
            <li>
              <%= user.email %>
            </li>
          <% end %>
        <% else %>
          <li>
            <p class='text-info'>
              Nothing here
            </p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
