<!DOCTYPE html>
<html>
  <head>
    <title>EdusonTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class='navbar navbar-default'>
      <div class='container-fluid'>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class='navbar-header'>
          <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false'>
            <span class='sr-only'>Toggle navigation</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </button>
          <a class='navbar-brand' href='#'>Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
          <ul class='nav navbar-nav'>
            <li class='<%= 'active' if current_namespace(need_application: true) == 'application' %>'>
              <%= link_to 'Courses list', courses_path %>
            </li>

            <% if current_user&.admin? %>
              <li class='<%= 'active' if current_namespace(need_application: true) == 'admin' %>'>
                <%= link_to "Admin's courses list", admin_courses_path %>
              </li>
            <% end %>

          </ul>
          <ul class='nav navbar-nav navbar-right'>
            <li class='dropdown'>
              <% if current_user %>
                <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>
                  <%= current_user.email %><span class='caret'></span>
                </a>
                <ul class='dropdown-menu'>
                  <li>
                    <%= link_to 'Exit', destroy_user_session_path, method: :delete %>
                  </li>
                </ul>

              <% else %>
                <%= link_to 'Sign in', new_user_session_path %>
              <% end %>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class='container-fluid'>
      <div class='container'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
